<!DOCTYPE html>
<html lang="">
   <head>
   
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1,shrink-to-fit=0">
      <title>CRM_API Login</title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
   
   </head>
   <style>
            body {
               background-image: url("https://claramar.s3.amazonaws.com/system/redactor_assets/pictures/145/IMAGEM_1-_granito-preto-absoluto_0.jpg");
             }
  </style>
   <body>
      
      
            <div class="row">
               <div class="col-sm-6 col-sm-offset-3 myform-cont" >
                  <div class="myform-top">
                     <div class="myform-top-left">
                        <h3>Welcome</h3>
                        <p>Login </p>
                     </div>
                     <div class="myform-top-right">
                        <i class="fa fa-key"></i>
                     </div>
                  </div>
                  <div class="myform-bottom">
                  
                     
                        <div class="form-group">
                           <input type="text" name="USER_NAME" placeholder="USER NAME..." required class="form-control" id="username"  >
                        </div>
                        
                        <div class="form-group">
                           <input type="password" name="PASSWORD" placeholder="PASSWORD..." required class="form-control" id="password" >
                        </div>
                        <button type = "submit" class= "btn btn-lg btn-success" onclick="USER.login();">Entrar</button>
                        

                    
                  </div>
               </div>
            </div>
           
         </div>
      </div>
      
      
   </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="js/user.js"></script>
</html>